@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: url("./background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: darken;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-family: Montserrat, sans-serif;
	color: white;
}

h1 {
	font-size: clamp(2.5rem, 8vw, 6.5rem);
	font-weight: 400;
}

p {
	font-size: clamp(1.2rem, 4vw, 3.25rem);
	font-weight: 400;
}

input {
	width: 200px;
	height: 40px;
	background-color: #fae120;
	font-size: 1.2rem;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}
