header {
	display: flex;
	justify-content: space-between;
}

/* nav { */
/* 	display: flex; */
/* 	/* justify-content: space-between; */
/* } */

nav ul {
	display: flex;
	gap: 48px;
}

nav ul a {
	color: var(--primary-color);
	font-size: 24px;
	font-family: "Inter", sans-serif;
	border-radius: 4px;
	transition: 0.5s;
}

nav ul a:hover {
	background-color: var(--primary-color);
	color: #000;
	box-shadow: 0 0 12px 4px var(--primary-color);
}

@media (max-width: 960px) {
	nav ul {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: var(--secondary-color);
		transform: translateX(100%);
		z-index: 1;
		font-size: 2.5 rem;
		opacity: 0;
		transition: all 1s ease;
		gap: 65px;
	}

	.menu-burger-container.active ~ nav ul {
		opacity: 1;
		transform: translateX(0);
	}
}
