header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 64px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.logo__text {
	width: 100px;
	font-size: 3rem;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	cursor: pointer;
}

.menu {
	display: flex;
	gap: 32px;
	font-size: 2rem;
	color: #fff;
}

.menu__item {
	text-shadow: 2px 2px 2px #000;
	font-weight: 900;
	border-bottom: 4px solid transparent;
	transition: 0.5s;
	cursor: pointer;
}

.menu__item:hover {
	color: var(--primary-color);
	border-color: var(--secondary-color);
}

@media (max-width: 1024px) {
	header {
		margin: 32px;
	}

	nav::before {
		content: "\2261";
		font-size: 4rem;
		font-weight: 600;
		color: #fff;
	}

	.menu {
		display: none;
	}
}
